{% extends "base.html" %}

{% block content %}

<div class="container-md">
  <div class="row">
      <div class="col-12">
          <div class="card content-bg">
              <div class="card-body">
                <p>Logged out!</p>
                <a href="{% url 'log_in' %}" class="btn btn-dark">Click here to login again.</a>
                <a href="{% url 'home' %}" class="btn btn-dark">Return to front page</a>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}